.main-back {
  height: 100vh;
  width: 100%;
  /*background: radial-gradient(#653d84, #332042);*/
  position: relative;
  padding: 0px;
}


.img-size {
  width: 55vw;
}

.img-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.left {
 /* background: linear-gradient(-45deg, #dcd7e0, #fff);*/
 background-color: white;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*
.right {
  background: linear-gradient(212.38deg, rgba(107, 106, 106, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%),
    url('../img/main.jpg');
  color: #fff;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}*/


.right {
  background: url(../img/main.jpg);
  background-size:cover;
  background-repeat:  no-repeat;
  color: #fff;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-rounded {
  border-radius: 10px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 576px) {
  .border-rounded-2 {
    border-radius: 10px;
  }
}

.left input  {
  /*width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;*/

  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

.left input:focus {
  border: 2px solid #583672;
  border-radius: 5px;
}
/*
.left input {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}*/


.gray-text-color {
  color : rgb(91,91,91);
}




.left h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.75rem;
  font-weight: 600;
}

/*
.submit-btn {
  border: none;
  padding: 0.8rem 2.3rem;
  
  display: block;
  margin: auto;
  margin-top: 120px;
  background: #583672;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}*/

.submit-btn {
  border: none;
  padding: 0.8rem 2.3rem;
  /*border-radius: 8px;*/ 
  display: block;
  margin: auto;
  margin-top: 120px;
  background-color: #0652ac;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}


#test-data-btn,
#test-api-btn {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  /* display: block; */
  margin: auto;
  background: #f7ebeb;
  border: 1px solid #583672;

  /* background: #583672;
color: #fff; */
  font-weight: bold;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}


.right .right-text {
  /* height: 100%; */
  /* position: relative; */
  transform: translate(0%, 169%);
  
}

.right-text h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.right-text h5 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor {
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}

.top_link img {
  width: 28px;
  padding-right: 7px;
  margin-top: -3px;
}

.img-size {
  width: 55vw;
}

.img-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.img-logo {
  margin-top: -1px;
  width: 6rem;
}

.form-control-new {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4f4f4f;
  background-color: #fff!important;
  background-clip: padding-box!important;
  border: 1px solid #bdbdbd!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  transition: all .2s linear;
}

/* Label de Material Boostrap, cuando sube atencion, depende del fondo del formulario */

.form-outline .form-control:focus~.form-label {
  /* color: #3b71ca; */
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}


html, body {
  margin: 0;
  height: 100%;
  background-color: #F1F2F7;
}

.btn-primary {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-color: hsl(var(--b2) / var(--tw-border-opacity));
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*border-radius: var(--rounded-btn, 0.5rem);*/
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #0652ac;
  /* hsl(var(--b2) / var(--tw-bg-opacity));*/
  --tw-text-opacity: 1;
  color:  white;
  // hsl(var(--bc) / var(--tw-text-opacity));
}


.btn-primary:hover {
  --tw-border-opacity: 1;
  border-color: #053066;;
  --tw-bg-opacity: 1;
  background-color: #053066;;
}


.btn-secondary {
  border: none;
  padding: 0.3rem 1rem;
  /* border-radius: 8px; */
  /* display: block; */
  margin: auto;
  background: white;
  border: 1px solid #583672;
  font-weight: bold;
  /* -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1); */
 /* -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);*/
  /* box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1); */
}


.btn-secondary:hover {
  border: none;
  padding: 0.3rem 1rem;
  /* border-radius: 8px; */
  /* display: block; */
  margin: auto;
  
  border: 2px solid #0650A9;
  font-weight: bold;
  /* -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1); */
 /* -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);*/
  /* box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1); */
}


.tw-file-input {

  border-radius: 0px!important;
}

input[type=file]::file-selector-button {
  border: 1px solid #e7e6eb;
  padding: .2em .4em;
      border-radius: 0px!important;
  background-color:#F2F2F2;
  /*transition: 0.21s;*/
  color: #021335;
}

input[type=file]::file-selector-button:hover {
 
  border: 2px solid #0650A9;
  color: #7f8185;
}
